# Ambiente Virtual
.venv/
venv/
env/

# Caches do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de Banco de Dados SQLite
*.db
*.sqlite3

# Arquivos do VSCode
.vscode/

# Arquivos de dependências de outros S.O.
.DS_Store
Thumbs.db